<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  </head>
  <body>
    <nav class="nav-section">
      <ul class="nav-links">
        <li><a href="{{ '/' | relative_url }}" class="{% if page.url == '/' %}active{% endif %}">Home</a></li>
        <li><a href="{{ '/about.html' | relative_url }}" class="{% if page.url == '/about.html' %}active{% endif %}">About</a></li>
        <li><a href="{{ '/projects.html' | relative_url }}" class="{% if page.url == '/projects.html' %}active{% endif %}">Projects</a></li>
        <li><a href="{{ '/articles.html' | relative_url }}" class="{% if page.url == '/articles.html' %}active{% endif %}">Articles</a></li>
      </ul>
    </nav>
    
    {{ content }}

    <div class="footer-section">
      <p>&copy; 2025 Ray Ho's Portfolio. All Rights Reserved.</p>
    </div>
  </body>
</html>